<html>
    <head>
        {% block stylesheets %}
            <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/jquery.multi-select.js') }}"></script>
            <script src="{{ asset('public/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}
    </body>
</html>
